.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @media only screen and (max-width: 600px) {
    padding: 0 2rem;
  }

  &__header {
    font-size: 6rem;
    text-align: center;
  }

  &__description {
    &-1 {
      font-size: 3rem;
      text-align: center;
    }

    &-2 {
      font-size: 3rem;
      text-align: center;
    }

    &-3 {
      font-size: 3rem;
      text-align: center;
    }
    &-4 {
      font-size: 3rem;
      text-align: center;
    }
  }
}
