@import "./sass/main.scss";

.counter {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
}

.app {
  height: 100vh;
}

.education {
}

.skip-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
