.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__text {
    font-size: 5rem;
    // padding-top: 2rem;
    text-align: center;
    letter-spacing: 0.5rem;
    text-transform: capitalize;

    @media only screen and (max-width: 600px) {
      letter-spacing: 0rem;
    }
  }

  &__self {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: 500;
    text-transform: capitalize;
    // height: 80vh;

    @media only screen and (max-width: 600px) {
      letter-spacing: 0rem;
    }

    &-1 {
      display: inline-block;
      margin-right: 1rem;
    }

    &-2 {
      display: inline-block;
    }

    &-3 {
      font-size: 6rem;
      margin-top: 10rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      background-color: #000;
      color: #fff;

      @media only screen and (max-width: 600px) {
        letter-spacing: 0rem;
      }

      @media only screen and (max-width: 500px) {
        font-size: 5rem;
      }
    }
  }
}
